.carrousel-wrapper {
  width: 100%;
  position: relative;

  .carrousel {
    padding-top: 4rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    .carrousel-btns {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;

      h2 {
        flex-grow: 1;
        font-family: "Montserrat", serif;
        text-transform: capitalize;
      }
      button {
        background-color: transparent;

        .material-icons {
          color: var(--bright-color);
          font-size: 1.3rem;
          font-weight: normal;

          &:hover {
            color: var(--hover-color);
          }
        }

        &:disabled {
          cursor: auto;
        }
        &:disabled .material-icons {
          color: var(--shadow-color);
          cursor: auto;

          &:hover {
            color: var(--shadow-color);
          }
        }
      }

      .see-all {
        background-color: var(--less-bright-color);
        padding: 0.2rem 1rem;
        border-radius: 62.5rem;
        text-transform: uppercase;
        font-family: "Oswald", serif;
      }
    }

    .slide {
      width: 100%;
    }
  }
}
