*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  --dark-color: #000;
  --less-dark-color: rgba(0, 0, 0, 0.7);
  --more-dark-color: rgba(0, 0, 0, 0.85);
  --grey-color: #444;
  --bright-color: #fff;
  --fading-color: rgba(255, 255, 255, 0.1);
  --less-bright-color: rgba(255, 255, 255, 0.2);
  --more-bright-color: rgba(255, 255, 255, 0.4);
  --shadow-color: #bebebe;
  --hover-color: #00abff;
  --active-color: #0077b2;
  width: 100%;
  min-height: 100vh;
  background: var(--dark-color);
  color: var(--bright-color);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin: 0 auto;
  &.lg {
    max-width: 1200px;
  }
  &.xl {
    max-width: 1400px;
  }
}

.loading {
  width: 100%;
  height: calc(100vh - 5rem);
  @include myDisplay(row, center, center);
  user-select: none;

  img {
    width: 5rem;
    height: 5rem;
  }
}
.loading {
  width: 100%;
  height: calc(100vh - 5rem);
  @include myDisplay(row, center, center);
  user-select: none;
  img {
    width: 5rem;
    height: 5rem;
  }

  .error {
    @include myDisplay(column, center, center);
    gap: 0.5rem;
    text-transform: capitalize;
    color: #ffffff88;
    img {
      width: 10rem;
      height: 10rem;
    }

    h5 {
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

a {
  color: var(--bright-color);
  text-decoration: none;
  font-family: "Oswald";
}
ul,
li {
  list-style: none;
}
button {
  cursor: pointer;
  user-select: none;
  font-family: "Oswald";
}
.material-icons {
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.2s;
  user-select: none;
  font-size: 2rem;
  border: 1px solid transparent;
  cursor: pointer;
}
