*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  --dark-color: #000;
  --less-dark-color: rgba(0, 0, 0, 0.7);
  --more-dark-color: rgba(0, 0, 0, 0.85);
  --grey-color: #444;
  --bright-color: #fff;
  --fading-color:rgba(255, 255, 255, 0.1);
  --less-bright-color: rgba(255, 255, 255, 0.2);
  --more-bright-color: rgba(255, 255, 255, 0.4);
  --shadow-color: #bebebe;
  --hover-color: #00abff;
  --active-color: #0085b0;
  --halloween-color: #f56f16;
  --sun-color: #fe9600;
  width: 100%;
  min-height: 100vh;
  background: var(--dark-color);
  color: var(--bright-color);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.day {
    --dark-color: #fff;
    --grey-color: #444;
    --less-dark-color: rgba(255, 255, 255, 0.7);
    --more-dark-color: rgba(255, 255, 255, 0.9);
    --bright-color: #000;
    --less-bright-color: rgba(0, 0, 0, 0.2);
    --shadow-color: #bebebe;
    --hover-color: #00abff;
    --active-color: #0085b0;
  }
}
.container{
  margin: 0 auto;
  &.lg{
    max-width: 1200px;
  }
  &.xl{
    max-width: 1400px;
  }
}
a {
  color: var(--bright-color);
  text-decoration: none;
  font-family: "Oswald";
}
ul,
li {
  list-style: none;
}
button {
  cursor: pointer;
  user-select: none;
  font-family: "Oswald";
}
.material-icons {
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.2s;
  user-select: none;
  font-size: 2rem;
  border: 1px solid transparent;
  cursor: pointer;
}

