.footer {
  @include myDisplay(column, center, center);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  backdrop-filter: blur(20px);
  padding: 1rem;
  gap: 1rem;

  .footer-audio {
    display: none;
  }

  .footer-range {
    color: var(--hover-color);
    width: 100%;
    height: 0.2rem;
    appearance: none;
    outline: none;
    background: var(--fading-color);
    border-radius: 0.3rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 0.2rem;
      height: 0.2rem;
      background: var(--hover-color);
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      border: none;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 0.2rem;
      height: 0.2rem;
      background: var(--hover-color);
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      border: none;
    }

    &::-moz-range-progress {
      height: 0.2rem;
      background: var(--hover-color);
    }

    &:hover::-webkit-slider-thumb {
      transform: scale(5);
    }
    &:hover::-moz-range-thumb {
      transform: scale(5);
    }
  }

  .footer-song-details {
    @include myDisplay(row, flex-start, center);
    gap: 1rem;
    font-family: "Oswald",serif;
    font-weight: normal;
    

    .footer-thumb-box {
      width: 3rem;
      min-width: 3rem;
      display: none;
      img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 0.2rem;
      }
    }

    .footer-card-details {
      @include myDisplay(column, flex-start, flex-start);
      flex-grow: 1;
      width: 100%;
      max-width: 60vw;
      gap: 0.1rem;

      p {
        width: 100%;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        white-space: nowrap;
      }

      .footer-card-artist {
        font-size: 0.8rem;
        color: var(--shadow-color);
        display: none;
      }
    }
  }

  .footer-btns {
    @include myDisplay(row, center, center);
    gap: 0.2rem;

    .material-icons {
      background-color: var(--fading-color);
      color: var(--bright-color);
      padding: 0.2rem;
      font-size: 1.4rem;
      transition: 0;

      &.active {
        color: var(--active-color);
      }

      &:hover {
        color: var(--hover-color);
      }
      &:active {
        color: var(--active-color);
      }
    }
    .footer-playPause {
      padding: 0.5rem;
      font-size: 1.8rem;
    }
    .footer-pre-next {
      padding: 0.3rem;
      font-size: 1.6rem;
    }
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: var(--fading-color);
    color: var(--bright-color);
    padding: 0.2rem;
    font-size: 1.2rem;
    transition: 0;

    &:hover {
      color: var(--hover-color);
    }
    &:active {
      color: var(--active-color);
    }
  }
}
