.header {
  width: 100%;
  border-bottom: 1px solid var(--less-bright-color);
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(40px);
  z-index: 99;

  .navbar {
    @include myDisplay(row, flex-start, center);

    .logo {
      font-weight: 500;
      text-transform: capitalize;
      padding: 0.2rem 1rem;
      flex-grow: 1;
      line-height: 0.9rem;

      a {
        font-family: "Montserrat", serif;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }

    .left-navbar {
      @include myDisplay(row, center, center);

      .nav-item {
        @include myDisplay(row, center, center);
        font-size: 1.1rem;
        text-transform: uppercase;
        cursor: pointer;

        &.active {
          color: var(--active-color);
        }

        &:hover {
          color: var(--hover-color);
        }

        .nav-text {
          transition: 0.2s;
          font-family: "Oswald", serif;
          font-weight: 500;
          display: none;
        }

        .end-icon {
          display: none;
        }
      }

      .library {
        position: relative;
        padding: 0.2rem;

        &:hover {
          .nav-item {
            color: var(--hover-color);
          }

          .library-items {
            display: block;
          }
        }

        .library-items {
          display: none;
          position: absolute;
          backdrop-filter: blur(40px);
          background-color:var(--more-dark-color);
          right: 0;
          top: 3rem;
          border: 1px solid var(--less-bright-color);
          width: 15rem;
          border-radius: 0.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          .library-item {
            width: 100%;

            .library-link {
              width: 100%;
              display: block;
              padding: 1rem;
              font-size: 1.1rem;
              text-transform: capitalize;
              border-bottom: 1px solid var(--less-bright-color);

              &:hover {
                background-color: var(--fading-color);
              }

              &.active {
                background-color: var(--less-bright-color);
              }
            }

            &:last-child {
              .library-link {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
    .right-navbar {
      @include myDisplay(row, flex-end, center);
      padding-right: 1rem;

      // need media
      .signin {
        @include myDisplay(row, center, center);

        &:hover .nav-text {
          background-color: var(--hover-color);
        }
        &:hover .material-icons {
          color: var(--hover-color);
        }

        .material-icons {
          color: var(--active-color);
        }

        .nav-text {
          transition: 0.2s;
          font-family: "Oswald", serif;
          font-weight: 500;
          display: none;
          text-transform: capitalize;
          background-color: var(--active-color);
          padding: 0.2rem 1rem;
          border-radius: 62.5rem;
        }
      }
      .search-container {
        @include myDisplay(row, center, center);
        position: relative;
        width: 100%;

        .search-box {
          position: relative;
          display: flex;
          width: 100%;

          .search-input {
            width: 100%;
            padding: 0.5rem 4rem 0.5rem 1.5rem;
            border-radius: 62.5rem;
            outline: none;
            border: none;
            transition: 0.2s;
            display: none;

            &::placeholder {
              color: var(--less-dark-color);
              font-family: "Montserrat", serif;
            }
          }

          .search-btn {
            color: var(--hover-color);
          }
          .erase-btn {
            color: var(--shadow-color);
            font-size: 1.2rem;
            position: absolute;
            right: 5rem;
            top: 50%;
            transform: translate(0, -50%);
            background-color: transparent;
            
            &:hover{
              color: var(--bright-color);
            }
          }
        }

        .cancel-search {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translate(0, -50%);
          background-color: transparent;
          color: var(--bright-color);
          font-size: 1rem;
          text-transform: uppercase;
        }

        &.active {
          position: fixed;
          top: 0;
          left: 0;
          background-color: var(--dark-color);
          .search-box {
            .search-input {
              display: flex;
              width: 100%;
              padding: 1.4rem 8rem 1.4rem 1.5rem;
              border-radius: 0;
              outline: none;
              border: none;
              background-color: var(--less-bright-color);
              color: var(--bright-color);

              &::placeholder {
                color: var(--bright-color);
                font-family: "Montserrat", serif;
              }
            }

            .search-btn {
              display: none;
            }
          }
        }
      }
    }
  }
}
