.music-wraper {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  @include myDisplay(column, flex-start, flex-start);

  .music-box {
    @include myDisplay(column, flex-start, flex-start);
    background-color: var(--less-dark-color);
    backdrop-filter: blur(10px);
  }
}
