.music-header {
  @include myDisplay(column, center, center);
  width: 100%;
  gap: 2rem;
  padding:4rem 2rem 2rem;

  .music-thumb {
    width: 100%;
    max-width: 260px;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
    }
  }

  .music-details {
    @include myDisplay(column, center, center);
    text-align: center;
    gap: 1rem;

    .music-type{
      color: var(--hover-color);
      text-transform: capitalize;
      font-family: "Oswald",serif;
    }

    .music-title{
      font-family: "Montserrat",serif;
    }

    .music-duration{
      text-transform: uppercase;
      color: var(--shadow-color);
      font-family: "Oswald",serif;
      font-size: 0.8rem;
    }

    .music-btn{
      @include myDisplay(row,center,center);
      background-color: var(--hover-color);
      padding:0.5rem 1rem 0.5rem 0.6rem;
      border-radius: 62.5rem;
      gap: 0.3rem;
      
      span{
        padding: 0;
        font-size: 1.5rem;
      }

      p{
        text-transform: capitalize;
      }
      
      &:hover{
        transform: scale(1.05);
      }
      
      &:active{
        background-color: var(--active-color);
      }
    }
  }
}
