@include xs-screen {
  .header {
    .navbar {
      .logo {
        a {
          font-size: 1.5rem;
        }
      }
      .left-navbar {
        .library {
          .library-items {
            width: 20rem;
          }
        }
      }
    }
  }

  .footer {
    .footer-container {
      .footer-btns {
        gap: 1rem;
        .material-icons {
          font-size: 1.5rem;
        }
        .footer-playPause {
          font-size: 3rem;
        }
        .footer-pre-next {
          padding: 0.5rem;
          font-size: 2rem;
        }
      }
    }
  }

  .search-wrapper {
    .search-category {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include sm-screen {
  .header {
    .navbar {
      .logo {
        flex-grow: 0;
        padding: 1rem;
      }

      .left-navbar {
        .library {
          .library-items {
            right: auto;
            left: 0;
          }
        }
      }

      .right-navbar {
        flex-grow: 1;
        gap: 2rem;
        padding-left: 1rem;

        .search-container {
          max-width: 20rem;
          .search-box {
            .search-input {
              display: flex;
            }

            .search-btn {
              position: absolute;
              right: 1rem;
              top: 50%;
              transform: translate(0, -50%);
              color: var(--shadow-color);
              font-size: 1.5rem;
            }

            .erase-btn {
              right: 3.2rem;
            }
          }

          &.active {
            position: relative;
            max-width: 30rem;
            .search-box {
              .search-input {
                padding: 1.25rem 6rem 1.25rem 1.5rem;
              }

              .search-btn {
                display: flex;
              }
            }
          }
          .cancel-search {
            display: none;
          }
        }
      }
    }
  }
  .footer {
    .footer-container {
      .footer-song-details {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translate(0, -50%);

        .footer-card-details {
          max-width: 20vw;

          .footer-card-artist {
            display: flex;
          }
        }
      }

      .close {
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  .music-wraper {
    .music-box {
      .music-header {
        @include myDisplay(row, flex-start, flex-start);

        .music-details {
          @include myDisplay(column, flex-start, flex-start);
          text-align: left;
        }
      }
    }
  }
}

@include lg-screen {
  .header {
    .navbar {
      .logo {
        padding-right: 3rem;
      }

      .left-navbar {
        @include myDisplay(row, center, center);
        gap: 2rem;

        .nav-item {
          .nav-text {
            display: block;
          }
          .end-icon {
            display: block;
          }
        }
      }
    }
  }

  .footer {
    .footer-container {
      .footer-song-details {
        display: flex;

        .footer-card-details {
          max-width: 26vw;
        }

        .footer-thumb-box {
          display: flex;
        }
      }
    }
  }

  .search-wrapper {
    .search-category {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
